@model Product

@{
	ViewData["Title"] = Model.name;
}

<div class="col-lg-5">
	<img class="img-thumbnail" src="@Model.image" alt="@Model.name" />
	<h2>Продукт: @Model.name</h2>
	<p>Категория: @Model.Category.categoryName</p>
	<p>Описание: @Model.shortDescription</p>
	<p>@Model.longDescription</p>
	<p class="text-uppercase fw-bold">Цена: @Model.price.ToString("c")</p>
	@{
		if(Model.available)
		{
			<p>
				<a class="btn btn-warning" asp-controller="Cart" asp-action="AddToCart" 
				asp-route-id="@Model.id">Добавить в корзину</a>
			</p>
		}
		else
		{
			<p>
				<a class="btn btn-warning disabled" asp-controller="Cart" asp-action="AddToCart"
				asp-route-id="@Model.id">Добавить в корзину</a>
				Данного товара нет в наличии.
			</p>
		}
	}
</div>
